name: cron

on:
  schedule:
    - cron: '0 2 * * *'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        day_of_week: ['*', '0', '1', '2', '3', '4', '5', '6']
        include:
          - day_of_week: '*'
            opencast_version: 'next'
          - day_of_week: '0'
            opencast_version: 'master'
          - day_of_week: '1'
            opencast_version: '12.0'
          - day_of_week: '2'
            opencast_version: '11.8'
          - day_of_week: '3'
            opencast_version: '11.7'
          - day_of_week: '4'
            opencast_version: '11.6'
          - day_of_week: '5'
            opencast_version: '10.14'
          - day_of_week: '6'
            opencast_version: '10.13'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ matrix.opencast_version }}

      - uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_ROBOT_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_PASSWORD }}

      - name: build-and-push
        run: |
          if [ "${{ matrix.day_of_week }}" != "*" ]; then
            if [ "${{ matrix.day_of_week }}" != $(date "+%w") ]; then
              echo "Not scheduled today; exit"
              exit
            fi
          fi

          make build

          for distribution in \
                admin \
                adminpresentation \
                allinone \
                build \
                ingest \
                presentation \
                worker; do
            if [ "${{ matrix.opencast_version }}" == "master" ]; then
              docker push "quay.io/opencast/${distribution}:latest"
            else
              docker push "quay.io/opencast/${distribution}:$(cat VERSION)"
            fi
          done
