name: main

on:
  push:
    branches:
      - master
      - next
      - '[0-9]+.[0-9]+'
  pull_request:
    branches:
      - master
      - next
      - '[0-9]+.[0-9]+'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: |
         sudo apt-get install shellcheck
         shellcheck --version
      - name: lint
        run: |
         make lint

  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDX_PLATFORM: linux/amd64,linux/arm64
    steps:
      - uses: actions/checkout@v3

      - name: set up Docker buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64

      - name: info
        run: |
          docker info

      - uses: docker/login-action@v2
        if: ${{ github.event_name == 'push' }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_ROBOT_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_PASSWORD }}

      - name: build and push container images
        run: |
          case "${{ github.event_name }}" in
            push)  DOCKER_BUILDX_OUTPUT='--push' ;;
               *)  DOCKER_BUILDX_OUTPUT=''     ;;
          esac

          case "${{ github.ref }}" in
            refs/heads/master)  IMAGE_TAGS='latest'         ;;
                            *)  IMAGE_TAGS="$(cat VERSION)" ;;
          esac

          make \
            IMAGE_TAGS="${IMAGE_TAGS}" \
            DOCKER_BUILDX_PLATFORM="${DOCKER_BUILDX_PLATFORM}" \
            DOCKER_BUILDX_OUTPUT="${DOCKER_BUILDX_OUTPUT}" \
            build
